
%p
  Below you will find procedurally generated minions / npc's who are ready to do your bidding.
  Feel free to tweak and modify them to your liking and use them in your games.
%p
  %a.btn.btn-default.btn-xs{:href => '/'} 
    %i.glyphicon.glyphicon-refresh
    Refresh
  the page for more minions.

%hr

- @minions.each_slice(3) do |minion_group|
  .row
    - minion_group.each do |minion|
      .col-md-4
        %h3.bg-info.minion-name #{minion.name}
        .minion-desc
          %p 
            #{minion.race} #{minion.gender}
            %br
            #{minion.class}, #{minion.social}
          %p
            #{minion.traits}
            #{minion.hates}
            #{minion.fears}
          %p
            #{minion.eyes.capitalize} eyes, #{minion.skin} skin.
            #{minion.features.capitalize}#{'.' unless minion.features.empty?}
            %br
            Hair: 
            #{minion.hair}
          %p
            %strong Weapons:
            #{minion.weapon_type.split.map(&:capitalize).join(' ') unless minion.weapon_type.empty?}
            #{[minion.primary_weapon, minion.secondary_weapon].reject(&:empty?).join(', ')}.
            %br
            %strong Armor:
            #{minion.armor_type unless minion.armor_type.empty?}
            #{minion.armor}
            %span.text-muted
              (#{minion.armor_category.downcase})
